<div class="header">
    <!-- nav -->
    <div class="nav">
        <div class="nav_setting">
            <div class="logo">
                <img src="img/logo.webp"
                     alt="logo">
            </div>
            <div class="nav_user">
                <div class="user_name">
                    <p class="welcome">
                        Welcome
                        <a class="name">
                            Roma —
                        </a>
                        <a class="logout">
                            Logout
                        </a>
                    </p>
                </div>
                <div class="user_balance">
                    <p class="balance">
                        Your balance:
                        <span class="balance__count">
                            P 0,00
                        </span>
                    </p>

                </div>
            </div>

            <div class="nav_social">
                <div class="icon_social">
                    <a href="#" class="a_social"><img src="img/facebook.svg" alt="facebook"></a>
                    <a href="#" class="a_social"><img src="img/twitter.svg" alt="twitter"></a>
                    <a href="#" class="a_social"><img src="img/facebook-messenger.svg" alt="facebook-messenger"></a>
                    <a href="#" class="a_social"><img src="img/whatsapp.svg" alt="whatsapp"></a>
                </div>
                <div class="language_social">
                    <p class="language_name">English</p>
                    <button class="language_button"><img src="img/downArrow.svg" alt="arrow"> </button>
                </div>
            </div>
        </div>

        <div class="nav_menu">
            <div class="nav_site_container">
                <div class="nav_site">
                    <div class="menu_div">
                        <a href="#">
                            Home
                        </a>
                    </div>
                    <div class="separator">|</div>
                    <div class="menu_div">
                        <a href="#">
                            PLAY ALL lottery
                        </a>
                    </div>
                    <div class="separator">|</div>
                    <div class="menu_div">
                        <a href="#">
                            LOTTERY GROUPS
                        </a>
                    </div>
                    <div class="separator">|</div>
                    <div class="menu_div">
                        <a href="#">
                            Promotions
                        </a>
                    </div>
                    <div class="separator">|</div>
                </div>
            </div>
            <div class="nav_account">
                <a href="#" class="account_a">
                    My account
                </a>
            </div>
        </div>
    </div>
    <!-- nav end -->
    <!-- main -->
    <div class="main">
        <div class="banner">
            <img src="img/banner.webp" alt="banner">
        </div>
        <!-- cards -->
        <div class="main_cards">
            <div id="container_card_one" class="card_container">
                <div class="main_card">
                    <img src="img/youPick.webp" alt="youPick">
                    <div class="card_body">
                        <div class="card_title">
                            <div class="title_name">
                                you pick
                            </div>
                            <button class="btn btn-link card_button" type="button">
                                Play Now »
                            </button>
                        </div>
                        <div class="card_content">
                            It`s easy! Pick from over 40 official lottery games you wish to play. Then select your winning numbers.
                        </div>
                    </div>
                </div>
            </div>

            <div id="container_card_two" class="card_container">
                <div class="main_card">
                    <img src="img/weBuy.webp" alt="weBuy">
                    <div class="card_body">
                        <div class="card_title">
                            <div class="title_name">
                                we buy
                            </div>
                            <button class="btn btn-link card_button" type="button">
                                More Details »
                            </button>
                        </div>
                        <div class="card_content">
                            Once you`ve picked your winning numbers we`ll purchase your ticket on your behalf.
                        </div>
                    </div>
                </div>
            </div>

            <div id="container_card_three" class="card_container">
                <div class="main_card">
                    <img src="img/youWin.webp" alt="youWin">
                    <div class="card_body">
                        <div class="card_title">
                            <div class="title_name">
                                you win!!!
                            </div>
                            <button class="btn btn-link card_button" type="button">
                                Withdraw My Winnings »
                            </button>
                        </div>
                        <div class="card_content">
                            When you win, we`ll automatically credit your account the full value of your winnings.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cards end -->
        <!-- start block lottery -->
        <div class="main_lottery">
            <h2 class="lottery_title">
                BIGGEST UPCOMING LOTTERY DRAWS
            </h2>
            <h2 class="lottery_title_mobile">
                BIGGEST UPCOMING LOTTERY DRAW
            </h2>

            <!-- cards -->
            <div class="lottery_cards">
                <div id="lottery_card_one" class="lottery_container">
                    <div class="lottery_card">
                        <img src="img/OzLotto.webp" alt="OzLotto-logo">
                        <div class="lottery_card_title">
                            <div class="lottery_block_country">
                                <p class="country_name">Mega Millions</p>
                            </div>
                            <p class="lottery_price">
                                $94 000 000
                            </p>
                        </div>
                    </div>
                    <div class="lottery_card_footer">
                        <button class="lottery_button">Play Now</button>
                        <div class="footer_alarm">
                            <p class="alarm_text">
                                1:22:01
                            </p>
                        </div>
                    </div>
                </div>

                <div id="lottery_card_two" class="lottery_container">
                    <div class="lottery_card">
                        <img src="img/mega_millions_logo.webp" alt="mega-millions-logo">
                        <div class="lottery_card_title">
                            <div class="lottery_block_country">
                                <p class="country_name">Mega Millions</p>
                            </div>
                            <p class="lottery_price">
                                $94 000 000
                            </p>
                        </div>
                    </div>
                    <div class="lottery_card_footer">
                        <button class="lottery_button">Play Now</button>
                        <div class="footer_alarm">
                            <p class="alarm_text">
                                1:22:01
                            </p>
                        </div>
                    </div>
                </div>

                <div id="lottery_card_three" class="lottery_container">
                    <div class="lottery_card">
                        <img src="img/usPowerBall.webp" alt="usPowerBall-logo">
                        <div class="lottery_card_title">
                            <div class="lottery_block_country">
                                <p class="country_name">Mega Millions</p>
                            </div>
                            <p class="lottery_price">
                                $94 000 000
                            </p>
                        </div>
                    </div>
                    <div class="lottery_card_footer">
                        <button class="lottery_button">Play Now</button>
                        <div class="footer_alarm">
                            <p class="alarm_text">
                                1:22:01
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cards end -->
        </div>
        <!-- end block lottery -->
        <!-- start block play -->
        <div class="block_play">
            <div class="block_title">
                <h3 class="play_title">
                    PLAY UPCOMING LOTTERIES ONLINE
                </h3>
            </div>
            <!-- cards row -->
            <div class="cards_row_play">
                <div class="card_play_container">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>

                <div class="card_play_container" id="mobile_container_one">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container" id="mobile_container_two">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container" id="mobile_container_three">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>
                <div class="card_play_container" id="mobile_container_four">
                    <div class="play_card">
                        <img class="play_card_img" src="img/megaMillions.webp" alt="megaMillions-logo">
                        <button class="play_card_star"></button>
                        <div class="play_card_title">
                            <div class="play_block_country">
                                <h6 class="play_country_name">Mega Millions</h6>
                            </div>
                            <p class="play_price">
                                $122 000 000
                            </p>
                            <div class="play_alarm">
                                <p class="play_alarm_text">
                                    1:22:01
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="play_button">Play Now</button>
                </div>

            </div>
            <!-- cards row end -->
            <div class="more_details_play">
                <a class="more_details_link" href="#">More Details »</a>
                <a class="all_lotteries" href="#">All lotteries »</a>
            </div>
        </div>
        <!-- end block play -->
        <!-- start lottery winners -->
        <div class="lottery_winners">
            <!-- start bigges -->
            <div class="biggest_block">
                <h2 class="biggest_title">
                    BIGGEST LOTTERY WINNER
                </h2>
                <div class="biggest_card">
                    <div class="biggest_card_title">
                        <p class="title_won">
                            Won
                            <span class="title_count">
                                €100 000 000
                            </span>
                        </p>
                    </div>
                    <div class="biggest_card_block">
                        <div class="biggest_card_img">
                            <img id="winners_img" src="img/winners.webp" alt="winners">
                            <img id="winners_media_img" src="img/winnersMedia.webp" alt="winnersMedia">
                        </div>
                        <div class="biggest_card_story">
                            <p class="story_title">
                                Shaun Vincent a Lottery Winner
                            </p>
                            <p class="story_desc">
                                Shaun Vincent, from Barnsley, celebrates
                                his £1,158,038 National Lottery win after
                                his cheque presentation at the Cedar Court Hotel,
                                Wakefield.
                            </p>
                            <div class="biggest_card_link">
                                <a href="#">Read the full story</a>
                            </div>
                            <button class="result_button">
                                Play Now
                            </button>
                        </div>
                    </div>
                    <div class="block_result">
                        <p class="result_title">
                            UK Lotto results:
                        </p>
                        <div class="result_numbers">
                            <img src="img/number.svg" alt="number">
                            <img src="img/number.svg" alt="number">
                            <img src="img/number.svg" alt="number">
                            <img src="img/number.svg" alt="number">
                            <img src="img/number.svg" alt="number">
                            <p class="result_date">
                                Date: 20.11.2021
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end bigges -->
            <!-- start our -->
            <div class="our_block">
                <h2 class="our_title">
                    OUR LATEST WINNERS
                </h2>
                <div class="our_total_prizes">
                    <p class="total_title">
                        Total prizes paid out
                    </p>
                    <h2 class="total_count_us">
                        US$ 107 233 768
                    </h2>
                    <p class="total_count_tickets">
                        6 975 146
                        <span>
                            winning tickets
                        </span>
                    </p>
                </div>
                <div class="our_people">

                    <div class="card_winner">
                        <div class="info_winner">
                            <p class="info_date">
                                20.11.2021
                            </p>
                            <div class="info_country">
                                <p class="info_name">J.J won  Р175</p>
                            </div>
                            <p class="info_draw">
                                in   7 ИЗ 49   draw  #13476
                            </p>
                        </div>
                    </div>
                    <div class="card_winner">
                        <div class="info_winner">
                            <p class="info_date">
                                20.11.2021
                            </p>
                            <div class="info_country">
                                <p class="info_name">J.J won  Р175</p>
                            </div>
                            <p class="info_draw">
                                in   7 ИЗ 49   draw  #13476
                            </p>
                        </div>
                    </div>
                    <div class="card_winner">
                        <div class="info_winner">
                            <p class="info_date">
                                20.11.2021
                            </p>
                            <div class="info_country">
                                <p class="info_name">J.J won  Р175</p>
                            </div>
                            <p class="info_draw">
                                in   7 ИЗ 49   draw  #13476
                            </p>
                        </div>
                    </div>
                    <div class="card_winner">
                        <div class="info_winner">
                            <p class="info_date">
                                20.11.2021
                            </p>
                            <div class="info_country">
                                <p class="info_name">J.J won  Р175</p>
                            </div>
                            <p class="info_draw">
                                in   7 ИЗ 49   draw  #13476
                            </p>
                        </div>
                    </div>
                    <div class="card_winner">
                        <div class="info_winner">
                            <p class="info_date">
                                20.11.2021
                            </p>
                            <div class="info_country">
                                <p class="info_name">J.J won  Р175</p>
                            </div>
                            <p class="info_draw">
                                in   7 ИЗ 49   draw  #13476
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end our -->
        </div>
        <!-- end lottery winners -->
        <!-- start asked -->
        <div class="asked_block">
            <h1 class="asked_title">
                FREQUENTLY ASKED QUESTION (F.A.Q.)
            </h1>
            <div class="asked_rows">
                <div class="asked_row">
                    <p class="asked_p">
                        Can I play the lottery online?
                        <span class="asked_button">
                            <img src="img/downArrowGrey.svg" alt="arrow">
                        </span>
                    </p>
                </div>
                <div class="asked_row">
                    <p class="asked_p">
                        How will I get my wins?
                        <span class="asked_button">
                            <img src="img/downArrowGrey.svg" alt="arrow">
                        </span>
                    </p>
                </div>
                <div class="asked_row">
                    <p class="asked_p">
                        Is it safe to play lottery online?
                        <span class="asked_button">
                            <img src="img/downArrowGrey.svg" alt="arrow">
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- end asked -->
    </div>
    <!-- main end -->
    <!-- footer -->
    <div class="footer_container">
    </div>
    <div class="footer_info">
        <div class="footer_label">
            <div class="footer_whatsapp">
                <p>
                    Live chat by WhatsApp
                    <span>
                        Customer Service
                    </span>
                </p>
            </div>
            <div class="footer_social">
                <img src="img/facebook.svg" alt="facebook">
                <img src="img/twitter.svg" alt="twitter">
                <img src="img/facebook-messenger.svg"
                     alt="facebook-messenger">
            </div>
        </div>
        <div class="footer_block">
            <div class="footer_block_one">
                <h1>
                    USEFUL LINKS
                </h1>
                <div id="column_one">
                    <a id="column_one_home" href="#">
                        Home
                    </a>
                    <a href="#">
                        Lottery Results & Winners
                    </a>
                    <a href="#">
                        Lottery Promotions
                    </a>
                    <a href="#">
                        About Us
                    </a>
                    <a href="#">
                        Contact Us
                    </a>
                </div>
                <div id="column_two">
                    <a href="#">
                        Terms & Conditions
                    </a>
                    <a href="#">
                        Security
                    </a>
                    <a href="#">
                        Privacy Policy
                    </a>
                    <a href="#">
                        Acceptable Use Policy
                    </a>
                    <a href="#">
                        Website Use Policy
                    </a>
                    <a href="#">
                        <p>Affiliate program</p>
                    </a>
                </div>
            </div>
            <div class="footer_block_two">
                <h1>
                    SMARTWINNERS
                </h1>
                <p>
                    The trade name SmartWinners and all content
                    on this website is a copyright of SmartWinners Limited.
                    All rights reserved. We are an independent lottery ticket
                    purchasing service. We are not affiliated with nor are we
                    endorsed by any State sanctioned lottery organization.
                    We make no claims on our site to be such.
                </p>
                <div>
                    Our registered business address is
                    <span>
                        Unit 6158, PO Box 6945, London, W1A 6US, United Kingdom.
                    </span>
                </div>
            </div>
            <div class="footer_block_three">
                <h1>
                    PAYMENT METHODS
                </h1>
                <div>
                    <img src="img/Visa.webp" alt="visa">
                    <img src="img/MasterCard.webp" alt="MasterCard">
                    <img src="img/Maestro.webp" alt="Maestro">
                </div>
                <div>
                    <img src="img/DinersClub.webp" alt="DinersClub">
                    <img src="img/Skrill.webp" alt="Skrill">
                    <img src="img/Bitcoin-dark.webp" alt="Bitcoin">
                </div>
                <div>
                    <img src="img/qiwi.webp" alt="qiwi">
                    <img src="img/hsbc.webp" alt="hsbc">
                    <img src="img/litecoin.webp" alt="litecoin">
                </div>
                <div class="security">
                    <h1>
                        SECURITY & TRUST
                    </h1>
                    <div class="security_icon">
                        <img id="ctv_icon" src="img/ctv.webp" alt="ctv">
                        <img id="comodo_icon" src="img/comodo.webp" alt="comodo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end-->
</div>